<!DOCTYPE html>
<html>
   <head>
      <title> Jira Util </title>     
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <style>
         .bs-example{
             margin: 20px;        
         }
      </style>
      <script type=text/javascript>
         $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>
      <script> 
         var source = new EventSource("/progress");
         source.onmessage = function(event) {
            $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
            $('.progress-bar-label').text(event.data+'%');
            //if(event.data == 100){
            //      source.close()
            //}
         }
      </script>

   <script type=text/javascript>
      $(function() {
         $('#populateQuery').on('click', function() {
            $.getJSON($SCRIPT_ROOT + '/validate', {
               query_name: $('input[name="query_name"]').val(),
               }, 
               function(data) {
                  if (data.result == 'Bad'){
                     alert("query_name exist choose a new name");
                     return false;
                  } else {
                     return true;
                  }
               }
            );         
         });
      });
   </script>

   </head>  
   <body>
      
      <div class="container">
         <h1> Jira utilities</h1>
         <p> populate relevant field and press submit</p>
         <!-- 
         <form  action="http://localhost:5000/hello/" method="POST" role="form" class="form-inline" >
               <input   type="text"    class = "mr-auto p-2" name="name" id="name" placeholder="Name" required>
               <button  type="submit"  class = "btn-outline-primary p-2 w-25" value="submit">hello</button>
         </form>           
         -->
         <form  action="http://localhost:5000/backlogStat/" method="POST" role="form" class="form-inline" >
            <input   type="text"    class = "mr-auto p-2" name="query_name" id="query_name" placeholder="Query Name" required>
            <button  type="submit"  class = "btn-outline-primary p-2 w-25" value="submit">Backlog Stat Report</button>
         </form>           
         <form action="http://localhost:5000/BRCalc/" method="POST" role="form" class="form-inline">
                  <input type="text"      class = "mr-auto p-2"    name="jiraKey" id="jiraKey" placeholder="JIRA Key/s" required>
                  <button type="submit"   class="btn-outline-primary p-2 w-25" value="submit">Calc Blast Radius</button>
         </form>  
         <form  action="http://localhost:5000/populateQuery/" method="POST" role="form" class="form-inline" >
                  <input type="text"    class = "p-2" name="query_name" id="query_name" placeholder="query name" required>
                  <input type="text"  class = "p-2 w-50" name="jql" id="jql" placeholder="jql" required>
                  <button type="submit" class="btn-outline-primary ml-auto p-2 w-25" value="submit" id=populateQuery>populate Query</button>
         </form>  
         <form  action="http://localhost:5000/queryMySQL/" method="POST" role="form" class="form-inline" >
            <input type="text"    class = "p-2" name="MySQL_query_name" id="MySQL_query_name" placeholder="query name" required>
            <input type="text"  class = "p-2 w-50" name="SQL_Query" id="SQL_Query" placeholder="SQL Query" required>
            <button type="submit" class="btn-outline-primary ml-auto p-2 w-25" value="submit" id=queryMySQL>MySQL Query</button>
         </form>  
         <form  action="http://localhost:5000/timeInStatus/" method="POST" role="form" class="form-inline" >
            <input type="text"  class = "p-2 " name="project_key" id="project_key" placeholder="ALL or Project Key" required>
            <input type="text"  class = "p-2 " name="from_date" id="from_date" placeholder="From Date yyyy-mm-dd" required>
            <input type="text"  class = "p-2 " name="issue_types" id="issue_types" placeholder="Issue types Defect, Customer Defect etc." required>
            <button type="submit" class="btn-outline-primary ml-auto p-2 w-25" value="submit">Time In Status</button>
         </form>  
         <form  action="http://localhost:5000/populateQueryByFields/" method="POST" role="form" class="form-inline" >
            <input type="text"  class = "p-2 " name="query_name" id="query_name" placeholder="Query Name" required>
            <input type="text"  class = "p-2 " name="jql" id="jql" placeholder="jql" required>
            <input type="text"  class = "p-2 " name="fields" id="fields" placeholder="key,project,issuetype,created" required>
            <button type="submit" class="btn-outline-primary ml-auto p-2 w-25" value="submit">Populate Query By Fileds</button>
         </form>  

         <form  action="http://localhost:5000/ticketFieldHistory/" method="POST" role="form" class="form-inline" >
            <input type="text"   class = "p-2"  name="jirakey2" id="jirakey2" placeholder="JIRA Key" required>
            <input type="text"   class = "p-2"  list="field" name="field" required placeholder="Choose field or enter manually"/>
            <datalist id="field" class = "p-2" name="field" >
               <option>status</option>
               <option>assignee</option>
               <option>Fix Version</option>
               <option>Roll out planned date</option>
            </datalist>
            <button type="submit" class="btn-outline-primary ml-auto p-2 w-25" value="submit" >Show field history1</button>                                    
         </form> 
            <div class="progress" style="margin-top: 50px;">
               <div class="progress-bar progress-bar-striped W-100 active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                  <span class="progress-bar-label">0%</span>
               </div>
            </div>
      <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
   </body>   
</html>
 